In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:

df = pd.read_csv('Data_engineers_Survey_results.csv') #read dataset


#print first five rows
df.head()

,GENDER,AGE,EMPLOYMENT,STATE,REGION,EDUCATION,QA_M1,QA_M2,QA_M3,QA_M4,...,Q14_M3,Q14_M4,Q14_M5,Q15,QE,QF,QG,QH,QI,QJ
0,Male,39,\tWork full-time,Wisconsin,Midwest,\tGraduate or post-graduate work,Maintain the distributed systems that execute ...,"Develop, maintain, and optimize data systems t...",Ensure that the data architecture will scale a...,Write and test code,...,NaN,NaN,NaN,Agree somewhat,10,10,11,1500,$50 Million to under $100 Million,Information technology (IT) / software
1,Male,39,\tWork full-time,Florida,South,\tBachelor’s degree,"Develop, maintain, and optimize data systems t...",Maintain the distributed systems that execute ...,Write and test code,Manage continuous integration and continuous d...,...,Lack of knowledge around what DataOps is,NaN,NaN,Agree somewhat,5,10,50,2000,$10 Million to under $25 Million,Banking
2,Male,34,\tWork full-time,Florida,South,\tGraduate or post-graduate work,Create data pipelines,"Develop, maintain, and optimize data systems t...",Write tests to ensure that bad data is detecte...,Maintain the distributed systems that execute ...,...,NaN,NaN,NaN,Agree strongly,10,15,20,20,$1 Billion or more,Information technology (IT) / software
3,Male,38,\tWork full-time,Wisconsin,Midwest,\tGraduate or post-graduate work,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,Manage continuous integration and continuous d...,NaN,...,NaN,NaN,NaN,Agree strongly,18,18,45,250,$100 Million to under $250 Million,Information technology (IT) / software
4,Male,39,\tWork full-time,Georgia,South,\tGraduate or post-graduate work,Manage continuous integration and continuous d...,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,"Develop, maintain, and optimize data systems t...",...,NaN,NaN,NaN,Agree somewhat,6,7,10,999,$250 Million to under $500 Million,Banking

In [3]:
#remove unwanted symbols
df_obj = df.select_dtypes(['object'])
df[df_obj.columns] = df_obj.apply(lambda df: df.str.strip())
df.head()
df[['Q5_M1','Q5_M2','Q5_M3','Q5_M4','Q5_M5']].head()

,Q5_M1,Q5_M2,Q5_M3,Q5_M4,Q5_M5
0,Focusing too much on maintaining data pipeline...,NaN,NaN,NaN,NaN
1,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,NaN
2,Focusing too much time on finding and fixing e...,Unreasonable requests from stakeholders,NaN,NaN,NaN
3,Fast pace of requests from stakeholders,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN
4,Focusing too much on maintaining data pipeline...,Fast pace of requests from stakeholders,Focusing too much time on finding and fixing e...,NaN,NaN

In [4]:
q5Answers = ['Focusing too much on maintaining data pipelines and/or manual processes',
    'Constantly playing catch up with stakeholder requests',
       'Focusing too much time on finding and fixing errors',
       'Unreasonable requests from stakeholders',
       'Fast pace of requests from stakeholders',
       'Lack of feedback on the products delivered',
       'I have never felt burnt out from my job']
# Based on the list you provided, here are column names that could represent each element:

#     Maintenance of Data Pipelines/Manual Processes
#     Catching up with Stakeholder Requests
#     Time Spent on Error Identification/Fixing
#     Unreasonable Stakeholder Requests
#     Fast-Paced Stakeholder Requests
#     Lack of Feedback on Delivered Products
#     Absence of Job Burnout Experience


colNames = ['Maintenance of Data Pipelines/Manual Processes','Catching up with Stakeholder Requests','Time Spent on Error Identification/Fixing','Unreasonable Stakeholder Requests','Fast-Paced Stakeholder Requests','Lack of Feedback on Delivered Products','Absence of Job Burnout Experience']
for i in range(len(q5Answers)):
    ans = q5Answers[i]
    df[colNames[i]] = np.where(
        (df["Q5_M1"] == ans) |
        (df["Q5_M2"] == ans) |
        (df["Q5_M3"] == ans) |
        (df["Q5_M4"] == ans) |
        (df["Q5_M5"] == ans),
        True,
        False
    )
df.head()

,GENDER,AGE,EMPLOYMENT,STATE,REGION,EDUCATION,QA_M1,QA_M2,QA_M3,QA_M4,...,QH,QI,QJ,Maintenance of Data Pipelines/Manual Processes,Catching up with Stakeholder Requests,Time Spent on Error Identification/Fixing,Unreasonable Stakeholder Requests,Fast-Paced Stakeholder Requests,Lack of Feedback on Delivered Products,Absence of Job Burnout Experience
0,Male,39,Work full-time,Wisconsin,Midwest,Graduate or post-graduate work,Maintain the distributed systems that execute ...,"Develop, maintain, and optimize data systems t...",Ensure that the data architecture will scale a...,Write and test code,...,1500,$50 Million to under $100 Million,Information technology (IT) / software,True,False,False,False,False,False,False
1,Male,39,Work full-time,Florida,South,Bachelor’s degree,"Develop, maintain, and optimize data systems t...",Maintain the distributed systems that execute ...,Write and test code,Manage continuous integration and continuous d...,...,2000,$10 Million to under $25 Million,Banking,False,True,False,False,False,False,False
2,Male,34,Work full-time,Florida,South,Graduate or post-graduate work,Create data pipelines,"Develop, maintain, and optimize data systems t...",Write tests to ensure that bad data is detecte...,Maintain the distributed systems that execute ...,...,20,$1 Billion or more,Information technology (IT) / software,False,False,True,True,False,False,False
3,Male,38,Work full-time,Wisconsin,Midwest,Graduate or post-graduate work,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,Manage continuous integration and continuous d...,NaN,...,250,$100 Million to under $250 Million,Information technology (IT) / software,False,True,False,False,True,False,False
4,Male,39,Work full-time,Georgia,South,Graduate or post-graduate work,Manage continuous integration and continuous d...,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,"Develop, maintain, and optimize data systems t...",...,999,$250 Million to under $500 Million,Banking,True,False,True,False,True,False,False