In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:

df = pd.read_csv('Data_engineers_Survey_results.csv') #read dataset
#remove unwanted symbols
df_obj = df.select_dtypes(['object'])
df[df_obj.columns] = df_obj.apply(lambda dataEngineerResponses: dataEngineerResponses.str.strip())

In [ ]:
df['QE'].replace('Less than one year', 0, inplace=True)

pt = df.pivot_table(index = 'QE', columns='Q8',values ='Q3', aggfunc='sum')

In [ ]:
df['QE'].replace('Less than one year', 0, inplace=True)
df['QE'].astype(int)
def categorizeYOE(years):
    if years <= 5:
        return '0-5 years'
    elif years <= 10:
        return '5-10 years'
    elif years <= 15:
        return '10-15 years'
    elif years <= 20:
        return '15-20 years'
    else:
        return '20+ years'

In [ ]:
df['YOECat'] = df['QE'].astype(int).apply(categorizeYOE)

In [ ]:
orderedYOE = ['0-5 years','5-10 years','10-15 years','15-20 years','20+ years']
df['YOECat'] = pd.Categorical(df['YOECat'],orderedYOE)
plt.figure(figsize=(20,12))
age_mgmt = sns.countplot(data=df,
            x="YOECat",
            hue="QC",
            palette="ch:r=-.5,l=.75",
           )
plt.xlabel("Years of experiens")
plt.ylabel("Number of respondents")
sns.set(font_scale = 1.5)
plt.title("Relationship between years of experience and management positions")
legend = plt.legend(title="Management position")

- most management level employees have 0-15 years of experience in the field of data engineering   

- years of expereience have little to no effect on reaching management level

In [ ]:
sns.set(font_scale = 1.1)
sns.set_palette('ch:r=-.5,l=.75')
plt.figure(figsize=(10,10))

WLTitle = sns.countplot(data = df, x = 'QB', hue='Q8', hue_order=['All the time','Often','Sometimes','Rarely','Never'])
sns.move_legend(WLTitle, "upper left", bbox_to_anchor=(1, 1))
plt.xticks(rotation=-45);
plt.title("Work life balance disruptiveness based on job title")
plt.ylabel("Number of respondents")
plt.xlabel('Job titles');

- Data & analytics lead mostly face work life balance issues compared to data engineers where a decent portion of participants only face rarely to never work life balance issues

In [ ]:
ordered = ['Disagree strongly','Disagree somewhat','Agree somewhat','Agree strongly']
df['Q15'] = pd.Categorical(df['Q15'],ordered)
q15Graph = sns.histplot(data = df, x = 'Q15');
plt.xticks(rotation = 30);

- The majority of the participants agree that using cutting edge tools for managing data and building analytics are ineffective without processes that deploy, monitor and manage analytics throughout the lifecycle.

In [ ]:
orderedRev = ['Less than $10 Million','$10 Million to under $25 Million','$25 Million to under $50 Million','$50 Million to under $100 Million','$100 Million to under $250 Million','$250 Million to under $500 Million','$500 Million to under $1 Billion','$1 Billion or more']
df['QI'] = pd.Categorical(df['QI'],orderedRev)

In [ ]:

plt.figure(figsize=(30,50) )
sns.set(font_scale = 3)
sns.set_palette('crest')

plt.subplot(3,1,1)
revenue = sns.histplot(data = df[df['STATE']=='Georgia'], x = "QI")
plt.xticks(rotation=-45);
plt.title("company revenue in Georgia")
plt.ylabel("number of companies in a revenue category");
plt.xlabel("Company revenue category");

plt.subplot(3,1,2)
revenue = sns.histplot(data = df[df['STATE']=='Florida'], x = "QI")
plt.xticks(rotation=-45);
plt.title("company revenue in Florida")
plt.ylabel("number of companies in a revenue category");
plt.xlabel("Company revenue category");

plt.subplot(3,1,3)
revenue = sns.histplot(data = df[df['STATE']=='New York'], x = "QI")
plt.xticks(rotation=-45);
plt.title("company revenue in New York")
plt.ylabel("number of companies in a revenue category");
plt.xlabel("Company revenue category");


plt.tight_layout()

- from 3 states most of the revenue is between 100 to 500 million $

In [ ]:
ordered = ['All the time','Often','Sometimes','Rarely','Never']
df['Q8'] = pd.Categorical(df['Q8'],ordered)

WLRevenue = sns.countplot(data = df, x = 'Q8', hue = 'QI', palette = 'ch:r=-.5,l=.75' )
sns.move_legend(WLRevenue, "upper left", bbox_to_anchor=(1, 1))
sns.set(font_scale = 2)
plt.xticks(rotation = 45)
plt.xlabel('Work life balance disruptiveness');
plt.ylabel("Number of respondents")

plt.figure(figsize=[30,30]);

In [ ]:
df['QE'].replace('Less than one year', 0, inplace=True)
df['QE'].astype(int)
plt.figure(figsize=[30,10])
 
sns.set(font_scale = 3)
ageCRev = sns.violinplot(data = df, x = 'QI', y = df['QE'].astype(int), cut = 0 )
plt.title("Company revenue Category with years of experience")
plt.ylabel("Years of experience");
plt.xlabel("Company revenue category");
plt.xticks(rotation = 45);

- for companies with revenue less than 25 million, the average employee has around 3-5 years of experience 
- For companies starting from 25 million revenue per year, the average employee has more that 10 years of experience