# Import Lib & Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Data_engineers_Survey_results.csv') #read dataset

# Data EXPLORATION

In [3]:
df.shape

(600, 46)

In [4]:
df.size

27600

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 46 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GENDER      600 non-null    object
 1   AGE         600 non-null    int64
 2   EMPLOYMENT  600 non-null    object
 3   STATE       600 non-null    object
 4   REGION      600 non-null    object
 5   EDUCATION   600 non-null    object
 6   QA_M1       600 non-null    object
 7   QA_M2       600 non-null    object
 8   QA_M3       600 non-null    object
 9   QA_M4       549 non-null    object
 10  QA_M5       400 non-null    object
 11  QA_M6       168 non-null    object
 12  QA_M7       34 non-null     object
 13  QA_M8       7 non-null      object
 14  QB          600 non-null    object
 15  QC          600 non-null    object
 16  QD          600 non-null    object
 17  Q1          600 non-null    object
 18  Q2          600 non-null    object
 19  Q3          600 non-null    int64
 20  Q4          600 non-null    int64
 21  Q5_M1       600 non-null    object
 22  Q5_M2       571 non-null    object
 23  Q5_M3       454 non-null    object
 24  Q5_M4       96 non-null     object
 25  Q5_M5       9 non-null      object
 26  Q6          600 non-null    object
 27  Q7          600 non-null    object
 28  Q8          600 non-null    object
 29  Q9          600 non-null    object
 30  Q10         600 non-null    object
 31  Q11         600 non-null    object
 32  Q12         600 non-null    object
 33  Q13         600 non-null    object
 34  Q14_M1      361 non-null    object
 35  Q14_M2      353 non-null    object
 36  Q14_M3      318 non-null    object
 37  Q14_M4      111 non-null    object
 38  Q14_M5      18 non-null     object
 39  Q15         600 non-null    object
 40  QE          600 non-null    object
 41  QF          600 non-null    object
 42  QG          600 non-null    object
 43  QH          600 non-null    int64
 44  QI          600 non-null    object
 45  QJ          600 non-null    object
dtypes: int64(4), object(42)
memory usage: 215.8+ KB

In [6]:
pd.set_option('display.max_columns', None)
df.head()

,GENDER,AGE,EMPLOYMENT,STATE,REGION,EDUCATION,QA_M1,QA_M2,QA_M3,QA_M4,QA_M5,QA_M6,QA_M7,QA_M8,QB,QC,QD,Q1,Q2,Q3,Q4,Q5_M1,Q5_M2,Q5_M3,Q5_M4,Q5_M5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14_M1,Q14_M2,Q14_M3,Q14_M4,Q14_M5,Q15,QE,QF,QG,QH,QI,QJ
0,Male,39,\tWork full-time,Wisconsin,Midwest,\tGraduate or post-graduate work,Maintain the distributed systems that execute ...,"Develop, maintain, and optimize data systems t...",Ensure that the data architecture will scale a...,Write and test code,Manage continuous integration and continuous d...,Put analytics into production,Write tests to ensure that bad data is detecte...,Maintain data in ready-to-use formats,ETL Developer,Yes,We have partially implemented DataOps into our...,We frequently hope and pray that things don’t ...,Often,1,1,Focusing too much on maintaining data pipeline...,NaN,NaN,NaN,NaN,Agree somewhat,Often,Often,Very likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Very important,Lack of knowledge around what DataOps is,NaN,NaN,NaN,NaN,Agree somewhat,10,10,11,1500,$50 Million to under $100 Million,Information technology (IT) / software
1,Male,39,\tWork full-time,Florida,South,\tBachelor’s degree,"Develop, maintain, and optimize data systems t...",Maintain the distributed systems that execute ...,Write and test code,Manage continuous integration and continuous d...,NaN,NaN,NaN,NaN,Enterprise Architect,Yes,We have partially implemented DataOps into our...,We are confident they won’t break,Sometimes,20,10,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,NaN,Agree strongly,All the time,Rarely,Very likely,"Yes, multiple times",Somewhat difficult,Very effectively,Very important,Organization isn’t sure how to implement this,Lack of buy-in from company leadership or othe...,Lack of knowledge around what DataOps is,NaN,NaN,Agree somewhat,5,10,50,2000,$10 Million to under $25 Million,Banking
2,Male,34,\tWork full-time,Florida,South,\tGraduate or post-graduate work,Create data pipelines,"Develop, maintain, and optimize data systems t...",Write tests to ensure that bad data is detecte...,Maintain the distributed systems that execute ...,NaN,NaN,NaN,NaN,Data & Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We frequently hope and pray that things don’t ...,All the time,25,5,Focusing too much time on finding and fixing e...,Unreasonable requests from stakeholders,NaN,NaN,NaN,Agree strongly,Sometimes,All the time,Not very likely,"Yes, multiple times",Somewhat difficult,Very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,10,15,20,20,$1 Billion or more,Information technology (IT) / software
3,Male,38,\tWork full-time,Wisconsin,Midwest,\tGraduate or post-graduate work,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,Manage continuous integration and continuous d...,NaN,NaN,NaN,NaN,NaN,Enterprise Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We are confident they won’t break,All the time,70,60,Fast pace of requests from stakeholders,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,Agree strongly,All the time,Often,Not at all likely,"Yes, multiple times",Very difficult,Very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,18,18,45,250,$100 Million to under $250 Million,Information technology (IT) / software
4,Male,39,\tWork full-time,Georgia,South,\tGraduate or post-graduate work,Manage continuous integration and continuous d...,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,"Develop, maintain, and optimize data systems t...",Ensure that the data architecture will scale a...,NaN,NaN,NaN,Data & Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We are confident they won’t break,Often,40,35,Focusing too much on maintaining data pipeline...,Fast pace of requests from stakeholders,Focusing too much time on finding and fixing e...,NaN,NaN,Agree somewhat,Sometimes,Sometimes,Not very likely,"Yes, once",Somewhat difficult,Somewhat effectively,Very important,NaN,NaN,NaN,NaN,NaN,Agree somewhat,6,7,10,999,$250 Million to under $500 Million,Banking

In [7]:
df.tail()

,GENDER,AGE,EMPLOYMENT,STATE,REGION,EDUCATION,QA_M1,QA_M2,QA_M3,QA_M4,QA_M5,QA_M6,QA_M7,QA_M8,QB,QC,QD,Q1,Q2,Q3,Q4,Q5_M1,Q5_M2,Q5_M3,Q5_M4,Q5_M5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14_M1,Q14_M2,Q14_M3,Q14_M4,Q14_M5,Q15,QE,QF,QG,QH,QI,QJ
595,Female,58,\tWork full-time,California,West,\tBachelor’s degree,Maintain the distributed systems that execute ...,Put analytics into production,"Develop, maintain, and optimize data systems t...",Create data pipelines,Maintain data in ready-to-use formats,Write tests to ensure that bad data is detecte...,NaN,NaN,Enterprise Architect,No,We have not implemented DataOps into our proce...,We are confident they won’t break,Often,10,10,Fast pace of requests from stakeholders,Focusing too much on maintaining data pipeline...,Focusing too much time on finding and fixing e...,NaN,NaN,Agree somewhat,Often,Often,Somewhat likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Very important,We haven't budgeted or don't have the budget f...,Too busy to make it a priority,Lack of the right skills among employees,NaN,NaN,Agree somewhat,20,10,59,3400,$250 Million to under $500 Million,Energy
596,Female,58,\tWork full-time,Washington,West,\tBachelor’s degree,"Develop, maintain, and optimize data systems t...",Write tests to ensure that bad data is detecte...,Write and test code,Maintain data in ready-to-use formats,Maintain the distributed systems that execute ...,Manage continuous integration and continuous d...,NaN,NaN,Data Engineer,No,We have partially implemented DataOps into our...,We are confident they won’t break,Often,15,10,Constantly playing catch up with stakeholder r...,Focusing too much on maintaining data pipeline...,Unreasonable requests from stakeholders,NaN,NaN,Agree somewhat,Often,Sometimes,Somewhat likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Somewhat important,Difficulty communicating or engaging with othe...,Lack of buy-in from company leadership or othe...,Organization isn’t sure how to implement this,NaN,NaN,Agree somewhat,18,10,50,650,$50 Million to under $100 Million,Consulting
597,Female,58,\tWork full-time,New York,Northeast,\tGraduate or post-graduate work,Create data pipelines,Ensure that the data architecture will scale a...,Put analytics into production,"Develop, maintain, and optimize data systems t...",Maintain the distributed systems that execute ...,Write and test code,NaN,NaN,Data Engineer,No,We have not implemented DataOps into our proce...,We frequently hope and pray that things don’t ...,Often,25,15,Fast pace of requests from stakeholders,Lack of feedback on the products delivered,Constantly playing catch up with stakeholder r...,NaN,NaN,Agree somewhat,Often,Sometimes,Very likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Somewhat important,Too busy to make it a priority,Organization isn’t sure how to implement this,We haven't budgeted or don't have the budget f...,Lack of knowledge around what DataOps is,NaN,Agree somewhat,18,10,28,400,$25 Million to under $50 Million,Retail
598,Female,55,\tWork full-time,Massachusetts,Northeast,\tBachelor’s degree,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,"Develop, maintain, and optimize data systems t...",Write tests to ensure that bad data is detecte...,Write and test code,Create data pipelines,NaN,NaN,Data Engineer,No,We have not implemented DataOps into our proce...,We frequently hope and pray that things don’t ...,Often,10,15,Fast pace of requests from stakeholders,Constantly playing catch up with stakeholder r...,Lack of feedback on the products delivered,NaN,NaN,Agree somewhat,Often,Often,Somewhat likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Very important,We haven't budgeted or don't have the budget f...,Scale of incorporating DataOps is too large,Lack of knowledge around what DataOps is,NaN,NaN,Agree somewhat,16,10,27,1500,$100 Million to under $250 Million,Accounting
599,Male,43,\tWork full-time,Washington,West,\tGraduate or post-graduate work,"Develop, maintain, and optimize data systems t...",Manage continuous integration and continuous d...,Maintain data in ready-to-use formats,NaN,NaN,NaN,NaN,NaN,Data Management Lead,Yes,We have mostly or fully implemented DataOps in...,We frequently hope and pray that things don’t ...,All the time,100,100,Unreasonable requests from stakeholders,NaN,NaN,NaN,NaN,Agree strongly,Often,All the time,Very likely,"Yes, multiple times",Not at all difficult,Not very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,5,5,5,1000,$250 Million to under $500 Million,Information technology (IT) / software

# Data Cleaning

## 1- removing symbols

In [8]:
df_obj = df.select_dtypes(['object'])
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [9]:
df.head()

,GENDER,AGE,EMPLOYMENT,STATE,REGION,EDUCATION,QA_M1,QA_M2,QA_M3,QA_M4,QA_M5,QA_M6,QA_M7,QA_M8,QB,QC,QD,Q1,Q2,Q3,Q4,Q5_M1,Q5_M2,Q5_M3,Q5_M4,Q5_M5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14_M1,Q14_M2,Q14_M3,Q14_M4,Q14_M5,Q15,QE,QF,QG,QH,QI,QJ
0,Male,39,Work full-time,Wisconsin,Midwest,Graduate or post-graduate work,Maintain the distributed systems that execute ...,"Develop, maintain, and optimize data systems t...",Ensure that the data architecture will scale a...,Write and test code,Manage continuous integration and continuous d...,Put analytics into production,Write tests to ensure that bad data is detecte...,Maintain data in ready-to-use formats,ETL Developer,Yes,We have partially implemented DataOps into our...,We frequently hope and pray that things don’t ...,Often,1,1,Focusing too much on maintaining data pipeline...,NaN,NaN,NaN,NaN,Agree somewhat,Often,Often,Very likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Very important,Lack of knowledge around what DataOps is,NaN,NaN,NaN,NaN,Agree somewhat,10,10,11,1500,$50 Million to under $100 Million,Information technology (IT) / software
1,Male,39,Work full-time,Florida,South,Bachelor’s degree,"Develop, maintain, and optimize data systems t...",Maintain the distributed systems that execute ...,Write and test code,Manage continuous integration and continuous d...,NaN,NaN,NaN,NaN,Enterprise Architect,Yes,We have partially implemented DataOps into our...,We are confident they won’t break,Sometimes,20,10,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,NaN,Agree strongly,All the time,Rarely,Very likely,"Yes, multiple times",Somewhat difficult,Very effectively,Very important,Organization isn’t sure how to implement this,Lack of buy-in from company leadership or othe...,Lack of knowledge around what DataOps is,NaN,NaN,Agree somewhat,5,10,50,2000,$10 Million to under $25 Million,Banking
2,Male,34,Work full-time,Florida,South,Graduate or post-graduate work,Create data pipelines,"Develop, maintain, and optimize data systems t...",Write tests to ensure that bad data is detecte...,Maintain the distributed systems that execute ...,NaN,NaN,NaN,NaN,Data & Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We frequently hope and pray that things don’t ...,All the time,25,5,Focusing too much time on finding and fixing e...,Unreasonable requests from stakeholders,NaN,NaN,NaN,Agree strongly,Sometimes,All the time,Not very likely,"Yes, multiple times",Somewhat difficult,Very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,10,15,20,20,$1 Billion or more,Information technology (IT) / software
3,Male,38,Work full-time,Wisconsin,Midwest,Graduate or post-graduate work,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,Manage continuous integration and continuous d...,NaN,NaN,NaN,NaN,NaN,Enterprise Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We are confident they won’t break,All the time,70,60,Fast pace of requests from stakeholders,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,Agree strongly,All the time,Often,Not at all likely,"Yes, multiple times",Very difficult,Very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,18,18,45,250,$100 Million to under $250 Million,Information technology (IT) / software
4,Male,39,Work full-time,Georgia,South,Graduate or post-graduate work,Manage continuous integration and continuous d...,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,"Develop, maintain, and optimize data systems t...",Ensure that the data architecture will scale a...,NaN,NaN,NaN,Data & Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We are confident they won’t break,Often,40,35,Focusing too much on maintaining data pipeline...,Fast pace of requests from stakeholders,Focusing too much time on finding and fixing e...,NaN,NaN,Agree somewhat,Sometimes,Sometimes,Not very likely,"Yes, once",Somewhat difficult,Somewhat effectively,Very important,NaN,NaN,NaN,NaN,NaN,Agree somewhat,6,7,10,999,$250 Million to under $500 Million,Banking

## 1- QA_M1 to QA_M8 repairing

In [10]:
df["QA_M1"].unique()

array(['Maintain the distributed systems that execute data pipelines',
       'Develop, maintain, and optimize data systems to make data available for analysis',
       'Create data pipelines',
       'Manage continuous integration and continuous delivery/deployment (CI/CD) of new data products',
       'Write and test code', 'Maintain data in ready-to-use formats',
       'Ensure that the data architecture will scale appropriately',
       'Write tests to ensure that bad data is detected and acted upon in production',
       'Put analytics into production'], dtype=object)

In [11]:
pd.unique(df[["QA_M1","QA_M2", "QA_M3", "QA_M4", "QA_M5", "QA_M6", "QA_M7","QA_M8"]].values.ravel())

array(['Maintain the distributed systems that execute data pipelines',
       'Develop, maintain, and optimize data systems to make data available for analysis',
       'Ensure that the data architecture will scale appropriately',
       'Write and test code',
       'Manage continuous integration and continuous delivery/deployment (CI/CD) of new data products',
       'Put analytics into production',
       'Write tests to ensure that bad data is detected and acted upon in production',
       'Maintain data in ready-to-use formats', nan,
       'Create data pipelines'], dtype=object)

In [12]:
df.columns

Index(['GENDER', 'AGE', 'EMPLOYMENT', 'STATE', 'REGION', 'EDUCATION', 'QA_M1',
       'QA_M2', 'QA_M3', 'QA_M4', 'QA_M5', 'QA_M6', 'QA_M7', 'QA_M8', 'QB',
       'QC', 'QD', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5_M1', 'Q5_M2', 'Q5_M3', 'Q5_M4',
       'Q5_M5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14_M1',
       'Q14_M2', 'Q14_M3', 'Q14_M4', 'Q14_M5', 'Q15', 'QE', 'QF', 'QG', 'QH',
       'QI', 'QJ'],
      dtype='object')

In [17]:
ans = ['Maintain the distributed systems that execute data pipelines',
       'Ensure that the data architecture will scale appropriately',
       'Write and test code',
       'Manage continuous integration and continuous delivery/deployment (CI/CD) of new data products',
       'Put analytics into production',
       'Write tests to ensure that bad data is detected and acted upon in production',
       'Maintain data in ready-to-use formats',
       'Develop, maintain, and optimize data systems to make data available for analysis',
       'Create data pipelines']
for i in ans:
    name = {i[0:10].replace(" ", "_")}
    df[f"{name}"] = np.where((df["QA_M1"] == i) |
                             (df["QA_M2"] == i) |
                             (df["QA_M3"] == i) |
                             (df["QA_M4"] == i) |
                             (df["QA_M5"] == i) |
                             (df["QA_M6"] == i) |
                             (df["QA_M7"] == i) |
                             (df["QA_M8"] == i) , True, False)
df.head()

,GENDER,AGE,EMPLOYMENT,STATE,REGION,EDUCATION,QA_M1,QA_M2,QA_M3,QA_M4,QA_M5,QA_M6,QA_M7,QA_M8,QB,QC,QD,Q1,Q2,Q3,Q4,Q5_M1,Q5_M2,Q5_M3,Q5_M4,Q5_M5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14_M1,Q14_M2,Q14_M3,Q14_M4,Q14_M5,Q15,QE,QF,QG,QH,QI,QJ,{'Maintain_t'},{'Ensure_tha'},{'Write_and_'},{'Manage_con'},{'Put_analyt'},{'Write_test'},{'Maintain_d'},"{'Develop,_m'}",{'Create_dat'}
0,Male,39,Work full-time,Wisconsin,Midwest,Graduate or post-graduate work,Maintain the distributed systems that execute ...,"Develop, maintain, and optimize data systems t...",Ensure that the data architecture will scale a...,Write and test code,Manage continuous integration and continuous d...,Put analytics into production,Write tests to ensure that bad data is detecte...,Maintain data in ready-to-use formats,ETL Developer,Yes,We have partially implemented DataOps into our...,We frequently hope and pray that things don’t ...,Often,1,1,Focusing too much on maintaining data pipeline...,NaN,NaN,NaN,NaN,Agree somewhat,Often,Often,Very likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Very important,Lack of knowledge around what DataOps is,NaN,NaN,NaN,NaN,Agree somewhat,10,10,11,1500,$50 Million to under $100 Million,Information technology (IT) / software,True,True,True,True,True,True,True,True,False
1,Male,39,Work full-time,Florida,South,Bachelor’s degree,"Develop, maintain, and optimize data systems t...",Maintain the distributed systems that execute ...,Write and test code,Manage continuous integration and continuous d...,NaN,NaN,NaN,NaN,Enterprise Architect,Yes,We have partially implemented DataOps into our...,We are confident they won’t break,Sometimes,20,10,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,NaN,Agree strongly,All the time,Rarely,Very likely,"Yes, multiple times",Somewhat difficult,Very effectively,Very important,Organization isn’t sure how to implement this,Lack of buy-in from company leadership or othe...,Lack of knowledge around what DataOps is,NaN,NaN,Agree somewhat,5,10,50,2000,$10 Million to under $25 Million,Banking,True,False,True,True,False,False,False,True,False
2,Male,34,Work full-time,Florida,South,Graduate or post-graduate work,Create data pipelines,"Develop, maintain, and optimize data systems t...",Write tests to ensure that bad data is detecte...,Maintain the distributed systems that execute ...,NaN,NaN,NaN,NaN,Data & Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We frequently hope and pray that things don’t ...,All the time,25,5,Focusing too much time on finding and fixing e...,Unreasonable requests from stakeholders,NaN,NaN,NaN,Agree strongly,Sometimes,All the time,Not very likely,"Yes, multiple times",Somewhat difficult,Very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,10,15,20,20,$1 Billion or more,Information technology (IT) / software,True,False,False,False,False,True,False,True,True
3,Male,38,Work full-time,Wisconsin,Midwest,Graduate or post-graduate work,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,Manage continuous integration and continuous d...,NaN,NaN,NaN,NaN,NaN,Enterprise Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We are confident they won’t break,All the time,70,60,Fast pace of requests from stakeholders,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,Agree strongly,All the time,Often,Not at all likely,"Yes, multiple times",Very difficult,Very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,18,18,45,250,$100 Million to under $250 Million,Information technology (IT) / software,True,False,False,True,False,False,True,False,False
4,Male,39,Work full-time,Georgia,South,Graduate or post-graduate work,Manage continuous integration and continuous d...,Maintain the distributed systems that execute ...,Maintain data in ready-to-use formats,"Develop, maintain, and optimize data systems t...",Ensure that the data architecture will scale a...,NaN,NaN,NaN,Data & Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We are confident they won’t break,Often,40,35,Focusing too much on maintaining data pipeline...,Fast pace of requests from stakeholders,Focusing too much time on finding and fixing e...,NaN,NaN,Agree somewhat,Sometimes,Sometimes,Not very likely,"Yes, once",Somewhat difficult,Somewhat effectively,Very important,NaN,NaN,NaN,NaN,NaN,Agree somewhat,6,7,10,999,$250 Million to under $500 Million,Banking,True,True,False,True,False,False,True,True,False

In [18]:
df2 = df.drop(['QA_M1','QA_M2', 'QA_M3', 'QA_M4', 'QA_M5', 'QA_M6', 'QA_M7', 'QA_M8'], axis=1)
df2

,GENDER,AGE,EMPLOYMENT,STATE,REGION,EDUCATION,QB,QC,QD,Q1,Q2,Q3,Q4,Q5_M1,Q5_M2,Q5_M3,Q5_M4,Q5_M5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14_M1,Q14_M2,Q14_M3,Q14_M4,Q14_M5,Q15,QE,QF,QG,QH,QI,QJ,{'Maintain_t'},{'Ensure_tha'},{'Write_and_'},{'Manage_con'},{'Put_analyt'},{'Write_test'},{'Maintain_d'},"{'Develop,_m'}",{'Create_dat'}
0,Male,39,Work full-time,Wisconsin,Midwest,Graduate or post-graduate work,ETL Developer,Yes,We have partially implemented DataOps into our...,We frequently hope and pray that things don’t ...,Often,1,1,Focusing too much on maintaining data pipeline...,NaN,NaN,NaN,NaN,Agree somewhat,Often,Often,Very likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Very important,Lack of knowledge around what DataOps is,NaN,NaN,NaN,NaN,Agree somewhat,10,10,11,1500,$50 Million to under $100 Million,Information technology (IT) / software,True,True,True,True,True,True,True,True,False
1,Male,39,Work full-time,Florida,South,Bachelor’s degree,Enterprise Architect,Yes,We have partially implemented DataOps into our...,We are confident they won’t break,Sometimes,20,10,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,NaN,Agree strongly,All the time,Rarely,Very likely,"Yes, multiple times",Somewhat difficult,Very effectively,Very important,Organization isn’t sure how to implement this,Lack of buy-in from company leadership or othe...,Lack of knowledge around what DataOps is,NaN,NaN,Agree somewhat,5,10,50,2000,$10 Million to under $25 Million,Banking,True,False,True,True,False,False,False,True,False
2,Male,34,Work full-time,Florida,South,Graduate or post-graduate work,Data & Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We frequently hope and pray that things don’t ...,All the time,25,5,Focusing too much time on finding and fixing e...,Unreasonable requests from stakeholders,NaN,NaN,NaN,Agree strongly,Sometimes,All the time,Not very likely,"Yes, multiple times",Somewhat difficult,Very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,10,15,20,20,$1 Billion or more,Information technology (IT) / software,True,False,False,False,False,True,False,True,True
3,Male,38,Work full-time,Wisconsin,Midwest,Graduate or post-graduate work,Enterprise Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We are confident they won’t break,All the time,70,60,Fast pace of requests from stakeholders,Constantly playing catch up with stakeholder r...,NaN,NaN,NaN,Agree strongly,All the time,Often,Not at all likely,"Yes, multiple times",Very difficult,Very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,18,18,45,250,$100 Million to under $250 Million,Information technology (IT) / software,True,False,False,True,False,False,True,False,False
4,Male,39,Work full-time,Georgia,South,Graduate or post-graduate work,Data & Analytics Lead,Yes,We have mostly or fully implemented DataOps in...,We are confident they won’t break,Often,40,35,Focusing too much on maintaining data pipeline...,Fast pace of requests from stakeholders,Focusing too much time on finding and fixing e...,NaN,NaN,Agree somewhat,Sometimes,Sometimes,Not very likely,"Yes, once",Somewhat difficult,Somewhat effectively,Very important,NaN,NaN,NaN,NaN,NaN,Agree somewhat,6,7,10,999,$250 Million to under $500 Million,Banking,True,True,False,True,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Female,58,Work full-time,California,West,Bachelor’s degree,Enterprise Architect,No,We have not implemented DataOps into our proce...,We are confident they won’t break,Often,10,10,Fast pace of requests from stakeholders,Focusing too much on maintaining data pipeline...,Focusing too much time on finding and fixing e...,NaN,NaN,Agree somewhat,Often,Often,Somewhat likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Very important,We haven't budgeted or don't have the budget f...,Too busy to make it a priority,Lack of the right skills among employees,NaN,NaN,Agree somewhat,20,10,59,3400,$250 Million to under $500 Million,Energy,True,False,False,False,True,True,True,True,True
596,Female,58,Work full-time,Washington,West,Bachelor’s degree,Data Engineer,No,We have partially implemented DataOps into our...,We are confident they won’t break,Often,15,10,Constantly playing catch up with stakeholder r...,Focusing too much on maintaining data pipeline...,Unreasonable requests from stakeholders,NaN,NaN,Agree somewhat,Often,Sometimes,Somewhat likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Somewhat important,Difficulty communicating or engaging with othe...,Lack of buy-in from company leadership or othe...,Organization isn’t sure how to implement this,NaN,NaN,Agree somewhat,18,10,50,650,$50 Million to under $100 Million,Consulting,True,False,True,True,False,True,True,True,False
597,Female,58,Work full-time,New York,Northeast,Graduate or post-graduate work,Data Engineer,No,We have not implemented DataOps into our proce...,We frequently hope and pray that things don’t ...,Often,25,15,Fast pace of requests from stakeholders,Lack of feedback on the products delivered,Constantly playing catch up with stakeholder r...,NaN,NaN,Agree somewhat,Often,Sometimes,Very likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Somewhat important,Too busy to make it a priority,Organization isn’t sure how to implement this,We haven't budgeted or don't have the budget f...,Lack of knowledge around what DataOps is,NaN,Agree somewhat,18,10,28,400,$25 Million to under $50 Million,Retail,True,True,True,False,True,False,False,True,True
598,Female,55,Work full-time,Massachusetts,Northeast,Bachelor’s degree,Data Engineer,No,We have not implemented DataOps into our proce...,We frequently hope and pray that things don’t ...,Often,10,15,Fast pace of requests from stakeholders,Constantly playing catch up with stakeholder r...,Lack of feedback on the products delivered,NaN,NaN,Agree somewhat,Often,Often,Somewhat likely,"Yes, multiple times",Somewhat difficult,Somewhat effectively,Very important,We haven't budgeted or don't have the budget f...,Scale of incorporating DataOps is too large,Lack of knowledge around what DataOps is,NaN,NaN,Agree somewhat,16,10,27,1500,$100 Million to under $250 Million,Accounting,True,False,True,False,False,True,True,True,True
599,Male,43,Work full-time,Washington,West,Graduate or post-graduate work,Data Management Lead,Yes,We have mostly or fully implemented DataOps in...,We frequently hope and pray that things don’t ...,All the time,100,100,Unreasonable requests from stakeholders,NaN,NaN,NaN,NaN,Agree strongly,Often,All the time,Very likely,"Yes, multiple times",Not at all difficult,Not very effectively,Essential,NaN,NaN,NaN,NaN,NaN,Agree strongly,5,5,5,1000,$250 Million to under $500 Million,Information technology (IT) / software,False,False,False,True,False,False,True,True,False

In [20]:
df2.shape

(600, 47)

In [21]:
df.shape

(600, 55)